
@charset "UTF-8";
html{
    overflow: auto;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: serif;
    color: #000;
    background-color: #fff;
}
#screen{
    position: relative;
    width: 900px;
    height: 600px;
    margin: 20px auto;
    background-color: #000;
    overflow: hidden;
}
#bgimg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
.itembox{
    position: absolute;
    width: 580px;
    height: 420px;
    top: 30px;
    left: 160px;
    text-align: center;
    z-index: 2;
}
.charaposition{
    position: absolute;
    width: 300px;
    height: 675px;
    top: 20px;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}
#charaposition1{/*一人、三人表示*/
    left: 300px;
}
#charaposition2{/*二人表示*/
    left: 140px;
}
#charaposition3{/*二人表示*/
    left: 460px;
}
#charaposition4{/*三人表示*/
    left: 0;
}
#charaposition5{/*三人表示*/
    left: 600px;
}
#messbox{
    position: absolute;
    opacity: 0.8;
    width: 850px;
    height: 160px;
    top: 460px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: #fff;
    border: double 10px #000;
    z-index: 3;
}
#textbox{
    width: 800px;
    height: 140px;
    margin: -10px auto;
}
#text{
    color: #000;
    font-size: 1.5rem;
    font-family: serif;
}
.selectBox{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    z-index: 10;
    display: none;
}
.select{
    position: absolute;
    width: 300px;
    height: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #17d9f365;
    border: solid 5px #fff;
    border-radius: 20px 50px;
    box-shadow: inset -2px -2px 4px 4px rgb(131, 224, 224),2px 2px 4px 4px rgba(138, 226, 226, 0.925);
}
#select1{
    top: 50px;
    position: absolute;
    width: 300px;
    height: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #17d9f365;
    border: solid 5px #fff;
    border-radius: 20px 50px;
    box-shadow: inset -2px -2px 4px 4px rgb(131, 224, 224),2px 2px 4px 4px rgba(138, 226, 226, 0.925);
}
#select2{
   top: 200px; 
   position: absolute;
   width: 300px;
   height: 60px;
   left: 0;
   right: 0;
   margin: 0 auto;
   background-color: #17d9f365;
   border: solid 5px #fff;
   border-radius: 20px 50px;
   box-shadow: inset -2px -2px 4px 4px rgb(131, 224, 224),2px 2px 4px 4px rgba(138, 226, 226, 0.925);
}
#select3{
    top: 350px;
    position: absolute;
    width: 300px;
    height: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #17d9f365;
    border: solid 5px #fff;
    border-radius: 20px 50px;
    box-shadow: inset -2px -2px 4px 4px rgb(131, 224, 224),2px 2px 4px 4px rgba(138, 226, 226, 0.925);
}
#select4{
    top: 50px;
    position: absolute;
    width: 300px;
    height: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #17d9f365;
    border: solid 5px #fff;
    border-radius: 20px 50px;
    box-shadow: inset -2px -2px 4px 4px rgb(131, 224, 224),2px 2px 4px 4px rgba(138, 226, 226, 0.925);
}
#select5{
    top: 200px;
    position: absolute;
    width: 300px;
    height: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #17d9f365;
    border: solid 5px #fff;
    border-radius: 20px 50px;
    box-shadow: inset -2px -2px 4px 4px rgb(131, 224, 224),2px 2px 4px 4px rgba(138, 226, 226, 0.925);
}
#select6{
    top: 350px;
    position: absolute;
    width: 300px;
    height: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #17d9f365;
    border: solid 5px #fff;
    border-radius: 20px 50px;
    box-shadow: inset -2px -2px 4px 4px rgb(131, 224, 224),2px 2px 4px 4px rgba(138, 226, 226, 0.925);
}
.selectText{
    margin: 15px auto;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
}
.show{
    display: block;
    z-index: 10;
}
.none{
    display: none;
}
